<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hzero.service.infra.mapper.PurchaseInfoMapper">
    <!-- 可根据自己的需求，是否要使用 -->
    <resultMap id="BaseResultMap" type="org.hzero.service.domain.entity.PurchaseInfo">
        <result column="purchase_info_id" property="purchaseInfoId" jdbcType="DECIMAL"/>
        <result column="purchase_line_number" property="purchaseLineNumber" jdbcType="DECIMAL"/>
        <result column="purchase_order_id" property="purchaseOrderId" jdbcType="DECIMAL"/>
        <result column="material_id" property="materialId" jdbcType="DECIMAL"/>
        <result column="purchase_number" property="purchaseNumber" jdbcType="DECIMAL"/>
        <result column="purchase_info_sum_price" property="purchaseInfoSumPrice" jdbcType="DECIMAL"/>
        <result column="storage_state" property="storageState" jdbcType="DECIMAL"/>
        <result column="purchase_info_remark" property="purchaseInfoRemark" jdbcType="VARCHAR"/>
        <result column="created_by" property="createdBy" jdbcType="DECIMAL"/>
        <result column="creation_date" property="creationDate" jdbcType="DATE"/>
        <result column="last_updated_by" property="lastUpdatedBy" jdbcType="DECIMAL"/>
        <result column="last_update_date" property="lastUpdateDate" jdbcType="DATE"/>
        <result column="object_version_number" property="objectVersionNumber" jdbcType="DECIMAL"/>
    </resultMap>

    <select id="getPurchaseOrderDetailsByOrderId" resultType="org.hzero.service.domain.entity.PurchaseInfo">
        SELECT
            pur_info.purchase_info_id,
            pur_info.material_id,
            pur_info.purchase_number,
            pur_info.purchase_info_sum_price,
            pur_info.storage_state,
            pur_info.purchase_info_remark
        FROM
            `hff_purchase_info` pur_info
        WHERE
            pur_info.purchase_order_id = #{purchaseOrderId}
    </select>
</mapper>